<div
  class="flex mt-8 justify-center items-center h-2/3 bg-[url('https://firebasestorage.googleapis.com/v0/b/heroes-app-26908.appspot.com/o/bg-arena.webp?alt=media&token=a59457d3-29c8-4611-a076-53b2a28162fd')] bg-center bg-no-repeat">
  <!-- <div class="w-1/4 h-full bg-blue-500"> {{battle.battleHero | json}}</div> -->
  <app-battle-person class="w-1/4 h-full bg-blue-500" [person]='mok'></app-battle-person>
  <div class="relative w-1/3 h-96">
    <button *ngIf="!battleStarted" (click)="startBattle()"
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 py-3 px-6 bg-purple-500 animate-pulse text-white rounded-lg shadow-lg hover:bg-purple-600 hover:text-black focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-opacity-50">Start
      Battle</button>
    <div *ngIf="battleStarted"
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-64 h-64 bg-[url('https://firebasestorage.googleapis.com/v0/b/heroes-app-26908.appspot.com/o/fight-bg.webp?alt=media&token=5bed2b40-6e65-4677-8f54-64b0cb3ad1ab')] bg-cover bg-no-repeat rounded-full animate-pulse border-purple-500 border-2">
      <h6 class="absolute top-64 left-1/2 -translate-x-1/2 text-7xl text-purple-500 text-shadow hover:text-shadow-lg">
        Fight</h6>
    </div>
  </div>
  <div class="w-1/4 h-full bg-red-500"></div>
</div>
