<header id="header" class="bg-secondary">
  <nav class="container mx-auto flex justify-start items-center py-8 px-4">
    <a class="text-3xl text-purple-600 font-bold uppercase mr-4" routerLink="/">Verse Clash</a>

    <div class="flex flex-grow items-center">
      <ul class="flex flex-row mt-1">
        <li *ngIf="!(auth.isAuth$ | async); else authLinks">
          <a class="px-2 hover:text-purple-400" href="#" (click)="openModal($event)">Login / Register</a>
        </li>
        <ng-template #authLinks>
          <li>
            <a class="px-2 hover:text-purple-400" routerLink="/all-heroes" routerLinkActive="text-purple-400">Heroes</a>
          </li>
          <li>
            <a class="px-2 hover:text-purple-400" routerLink="/arena" routerLinkActive="text-purple-400">Arena</a>
          </li>
          <li>
            <a class="px-2 hover:text-purple-400" routerLink="/score" routerLinkActive="text-purple-400">Score</a>
          </li>
        </ng-template>
      </ul>
      <ul class="flex flex-row ml-auto">
        <li *ngIf="(auth.isAuth$ | async)">
          <a class="px-2 hover:text-purple-400" routerLink="/account" routerLinkActive="text-purple-400">Accout</a>
        </li>
        <li *ngIf="(auth.isAuth$ | async)">
          <a class="px-2 hover:text-purple-400" href="#" (click)="auth.logout($event)">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
