<div class="flex justify-center pt-5">
  <mat-card class="max-w-screen-xl">
    <mat-card-header>
      <mat-card-title class="text-5xl">User: {{userData?.name}}</mat-card-title>
      <mat-card-subtitle class="text-3xl">Email: {{userData?.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="userData?.heroes?.length">
        Heroes used:
        <li *ngFor="let hero of userData?.heroes">{{ hero }}</li>
      </p>
    </mat-card-content>
  </mat-card>
</div>
